@font-face
{
    font-family: "Jameel Noori Nastaleeq";
    src: url("../fonts/jameel-noori-nastaleeq.ttf") format("truetype");
}

body
{
   direction: rtl;
   font-family: "Jameel Noori Nastaleeq";
   word-spacing: 0.25em;
   text-align: center;  /* Makes the headers align */
}

h1
{
    font-size: 300%;
    margin: 0;
}

h2
{
    margin: 0;
    margin-bottom: 1em;
}

div.section
{
    padding: 1em;
    width: 13em;           /* Fixed width for each child p to stretch its text over */
    margin-left: auto;
    margin-right: auto;
}

div.stretch
{
    height: 2.25em;
    text-align: right;
}

div.stretch span {
    margin-left: 0em;
}
