@font-face {
    font-family: "Jameel Noori Nastaleeq";
    src: url("../fonts/jameel-noori-nastaleeq.ttf") format("truetype");
}

body {
    direction: rtl;
    font-family: "Jameel Noori Nastaleeq";
    font-size: 1em;
    /* Make the headers align */
    text-align: center;
}

h1 {
    font-size: 300%;
    word-spacing: 0.25em;
    margin: 0;
}

h2 {
    word-spacing: 0.25em;
    margin: 0;
    margin-bottom: 1em;
}

div.section {
    padding-top: 1em;
    padding-bottom: 1em;
    /* Fixed width for each child p to stretch its text over */
    width: 13em;
    margin-left: auto;
    margin-right: auto;
}

div.stretch {
    height: 2.25em;
    text-align: right;
}
