@font-face
{
    font-family: "jameel-noori-nastaleeq";
    src: url("../fonts/jameel-noori-nastaleeq.ttf") format("truetype");
}

body
{
   direction: rtl;
   font-family: "jameel-noori-nastaleeq";
   word-spacing: 0.25em;
   text-align: center;  /* Makes the headers align */
   display: flex;       /* Required to get the div.bund to align along the center */
   flex-direction: column;  /* We want the children of body to spread vertically */
}

h1
{
    font-size: 300%;
    margin: 0;
}

h2
{
    margin: 0;
    margin-bottom: 1em;
}

div.bund
{
    padding: 1em;
    width: 13em;           /* Fixed width for each child p to stretch its text over */
}

div.stretch
{
    height: 2.25em;
    text-align: justify;
}

div.stretch span
{
    width: 100%;
    display: inline-block;
}
